streamlit
google-generativeai
datasets
faiss-cpu
sentence-transformers

# --- LANGCHAIN v0.3 PAKETLERİ ---
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
